/* CSS */
@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}
#funny-pics{
    margin-bottom:10px;
}
.block-with-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
body{background:#eeeeee}
.hz_yt_bg, .contactform-view{
    background:#fff;
    padding:10px;
}

.captn{
    padding: 5px;
}
.captn p{
    margin: 0 0 2px
}
footer .list-unstyled li{
    margin: 0 0 3px;
}
footer .list-unstyled {
    margin-top:20px
}
footer, footer a,footer a:hover{
    color:#fff;
}
#related-videos{
    margin:20px 0;
}
.labell {
    display: inline;
    padding: .2em .6em;
    font-size: 110%;
    font-weight: bold;
    line-height: 1.4;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0;
}
.labell .label-warning{
    background: #f58220;
}
#logo {
    width:280px;
    margin-top:25px;
}
#search-input{
    width:350px;
    border-radius: 0;
}
#form-search{
    margin-top:80px;
}
#form-search button{
    border-radius: 0;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #fff;
    text-decoration: none;
    background-color: #f58220;
    border: 1px solid #ddd;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #000;
    cursor: default;
    background-color: #fff;
    border-color: #fff;
}
.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.navbar-inverse {
  background-color: #113381;
  border-color: #113381;
    border-radius:0;
}
.navbar-inverse .dropdown-menu{
    background:#113381;
   border-radius:0
}
.navbar-inverse .dropdown-menu > li > a {
    color:#fff;
    border-top: 1px solid #fff;
}
.navbar-inverse .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #f58220;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #113381;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #f58220;
  border-color: #f58220;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color:#f58220;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #f58220;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #113381;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #113381;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: #113381;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #f58220;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }
}
.navbar-inverse .navbar-link {
  color: #fff;
}
.navbar-inverse .navbar-link:hover {
  color: #fff;
}
.btn-r{
     background-color: #f58220;
    color:#fff;
}
footer{
    background: #113381;
    padding:10px;
}
